.navbar-default.navbar-fixed-top {
	background-color: #0186ff;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a  {
	color: #fff;
}


/*@media (min-width: 768px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	    margin-left: 0px;
	}
}*/

.nav-sidebar {
    margin-bottom: 20px;
    margin-left: -15px;
    margin-right: -15px;
}

.nav-sidebar li.active {
	background-color: #ff6d76;
}

li.active:hover {
	background-color: #ff6d76;
}

.nav-sidebar li.active a {
	color: #fff;
}

.sidebar {
	padding-top: 25px;
}

@media (min-width: 768px) {

	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}

}

.page-header {
	font-size: 1.5em;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
	margin: 25px 0px;
}

.footer {
	padding-top: 10px;
	border-top: 1px solid #eee;
}	