    <!-- navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">App</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	     
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">Link 1</a></li>
	        <li><a href="#">Link 2</a></li>
	        <li><a href="#">Link 3</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav><!-- /navbar -->

    <div class="container-fluid">

       <div class="row">
             <!-- sidebar -->
        <div class="col-xs-12 col-sm-3 col-md-2 sidebar" id="sidebar" role="navigation">
            <ul class="nav nav-sidebar">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>              
            </ul>
        </div><!-- /sidebar -->

        <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            
            <h1 class="page-header">Income</h1>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Amount</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="income in incomes">
                        <td>{{usersByUrl[income.user].email}}</td>
                        <td>{{income.amount}}</td>
                        <td>{{income.notes}}</td>
                    </tr>
                </tbody>
            </table><!-- /table -->

            <div class="footer">
                <p class="copyright pull-right">Copyright &copy; 2016 <a href="#">App</a></p>
                <p class="version">v. 0.0.2</p>
            </div>

        </div><!-- /main -->
       </div>

    </div>